<a href="https://colab.research.google.com/github/dhapnekka-debug/kkasmt1dhapne/blob/main/Fungsi_print_dhapne_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print  ( "Halo dunia!" )
print  ( 'Selamat datang di Python' )

Halo dunia!
Selamat datang di Python

#Aturan & contoh pemakaian

In [ ]:
print ( "Belajar Python itu menyenangkan!" )

Belajar Python itu menyenangkan!

In [ ]:
nama = "dhapne"
print (nama)

dhapne

#Menampilkan teks + variabel

In [ ]:
umur = 16
print (f"umur saya {umur} tahun")

umur saya 16 tahun

In [ ]:
nama = "dhapne"
print ("halo " + nama)

halo dhapne

In [ ]:
umur = 16
print ("umur saya", umur, "tahun")

umur saya 16 tahun

In [ ]:
umur = 16
print ("umur saya " + str(umur) + " tahun")

umur saya 16 tahun

In [ ]:
harga_telur = 26000
print("harga telur per 1 kg adalah", harga_telur)

harga telur per 1 kg adalah 26000

In [ ]:
harga_telur = 26000
print("harga telur per 1 kg adalah " + str(harga_telur))

harga telur per 1 kg adalah 26000

In [ ]:
nama_pembeli = "dhapne"
print("nama pembeli telur adalah " + nama_pembeli)

nama pembeli telur adalah dhapne

Latihan soal
1. Tampilkan teks bebas: hari ini saya bahagia belajar bahasa python
2. Tampilkan nilai variable: mata_pelajaran_favorit = kode dan kecerdasan buatan
3. Tampilkan nilai variable: nilai_kka = 100
4. Tampilkan teks bebas dan nilai variable dengan tiga metode (f string, "+", "'") : " nilai KKA saya adalah {nilai_kka} loh! "

#Escape Character

In [ ]:
print ("nama: dhapne ursa rahman")
print ("kelas: XI.1")
print ("nomor absen: 07")

nama: dhapne ursa rahman
kelas: XI.1
nomor absen: 07

In [ ]:
print ("nama\t\t: dhapne ursa rahman\nkelas\t\t: XI.1\nnomor absen\t: 07")

nama		: dhapne ursa rahman
kelas		: XI.1
nomor absen	: 07

In [ ]:
print(  """nama:dhapne ursa rahman
kelas:XI.1
nomor absen:07"""  )

nama: dhapne ursa rahman
kelas: XI.1
nomor absen: 07

#jawaban latihan soal

In [ ]:
print ( "hari ini saya bahagia belajar bahasa python" )

hari ini saya bahagia belajar bahasa phyton

In [ ]:
mata_pelajaran_favorit = " kode dan kecerdasan buatan "
print ("mata pelajaran favorit saya adalah" + mata_pelajaran_favorit )

mata pelajaran favorit saya adalah kode dan kecerdasan buatan

In [ ]:
nilai_kka =  100
print ( "nilai kka adalah "  +  str  (nilai_kka) )

nilai kka adalah 100

In [ ]:
nilai_kka =   100
print (  "nilai KKA saya adalah "   +   str   (nilai_kka) +   " loh!"  )

nilai KKA saya adalah 100 loh!

In [ ]:
nilai_kka =  100
print ( f"nilai KKA saya adalah {nilai_kka} loh!"   )

nilai KKA saya adalah 100 loh!

In [ ]:
print (   """nilai KKA saya 100 loh! """  )

nilai KKA saya 100 loh!

In [ ]:
print ('ja\'far shodiq')

ja'far shodiq

In [ ]:
print ("ja'far shodiq")

ja'far shodiq

In [ ]:
print ("bu shinta berkata, \"semua harus menyimak pelajaran. \"")

bu shinta berkata, "semua harus menyimak pelajaran. "

In [ ]:
print ( 'bu shinta berkata, "semua harus menyimak pelajara n. "' )

bu shinta berkata, "semua harus menyimak pelajaran. "

In [ ]:
print( "lokasi file video karnaval ada di D:\\karnaval 20 25\\mp4" )

lokasi file vidio karnaval ada di D:\karnaval 2025\mp4

#parameter fungsi print

In [ ]:
Tahun = 2009
Bulan = "Juli"
Tanggal = 7

print(Tanggal, end=" ")
print(Bulan, end=" ")
print(Tahun)

7 Juli 2009

In [ ]:
Tahun = 2009
Bulan = "Juli"
Tanggal = 7

print(Tanggal, Bulan, Tahun, sep="/")

7/Juli/2009

#Latihan
Tanggal-Bulan-Tahun

In [ ]:
Nama_depan = "dhapne"
Nama_belakang = "ursa"

print(Nama_depan, Nama_belakang)

dhapne ursa

In [ ]:
Nama_depan = "dhapne"
Nama_belakang = "ursa"

print(Nama_depan, end=" ")
print(Nama_belakang)

dhapne ursa

In [ ]:
print ("bu shinta berkata, \"berikut adalah judul pelajaran hari senin selasa rabu silakan disimpan di laptop masing-masing di folder local disk D:\\jadwal pelajaran\\kelas XI semester 1.\"")
print ("\njadwal pelajaran mingguan")
print ("=============================")
print ("jam\tsenin\t\tselasa\t\trabu")
print ("jam 1\tmatematika\tbahasa\t\tinformatika")
print ("jam 2\tbahasa ingr.\tsejarah\t\tma'rifatullah")
print ("jam 3\tinformatika\tolahraga\tbiologi")

bu shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silakan disimpan di laptop masing-masing di folder local disk D:\jadwal pelajaran\kelas XI semester 1."

jadwal pelajaran mingguan
=============================
jam	senin		selasa		rabu
jam 1	matematika	bahasa		informatika
jam 2	bahasa ingr.	sejarah		ma'rifatullah
jam 3	informatika	olahraga	biologi